<div class="about">
  <div class="close"><i class="material-icons" id="close">clear</i></div>
  <div class="logo mini">
    <img src="../img/marvel-logo.svg">
    <p>ous!</p>
  </div>
  <p class="about-what">What is it?</p>
  <p class="about-text">MARVELous! is a web-app that makes it easy to traverse through Marvels comics database. Built on Marvels open API.</p>
  <p class="about-what">Why is it?</p>
  <p class="about-text">MARVELous! is a schoolproject to finnish the "Webapplication Development" part of the "JavaScript Frontend" education by Lernia.
    More info of what guidlines this was built by and more is available in the GitHub repo linked below</p>
  <div class="about-footer">
    <a href="mailto:andreas.ostlund@spelpunkten.com">
      <p>© Andreas Östlund</p>
    </a>
    <a href="https://www.linkedin.com/in/andreas-östlund-42945467">
      <p>LinkedIn</p>
    </a>
    <a href="https://github.com/aostlund/marvelous">
      <p>GitHub repo</p>
    </a>
  </div>
</div>