  <div class="search">
    <span>Search</span>
    <div class="close">
      <i class="material-icons" id="close">clear</i>
    </div>
    <form>
      <div>
        <p>Category</p>
        <select name=type>
          <option value="comics">Comics</option>
          <option value="characters">Characters</option>
          <option value="creators">Creators</option>
          <option value="events">Events</option>
          <option value="series">Series</option>
        </select>
      </div>
      <div>
        <p>Name / Title</p>
        <input name="search" type="search" placeholder="Name/Title or start of it">
      </div>
      <input type="submit">
    </form>
  </div>